doctype html 
html(lang='en')
head 
    title MM ERM MRM 
body 
style(type="text/css").
    html{
        margin: 0px 20px;
    }
    div{
       margin: 20px 0px
    }
    .heading{
        /*margin: 20px;*/
        background: teal;
        color: white;
        border: solid 5px black;
        padding: 10px;
        border-radius: 10px;
        text-align: center
    }

    table{
        width: 100%
    }
    th {
        background: lightblue;
        color: blue;
        height:40px
    }
    tr {
        height: 30px;
        color: blue
    }
    tr:nth-child(even) {
        background: lightgray;
    }
body     
    .heading    
        //- const headingStr = "MM Model Risk Management Model Inventory Demo"
        h1 MM Model Inventory 
        h3 Last Page Refresh : #{time}

block table-content
   